{% extends 'base.html'%}

{% block content %}
<h1 class="text-center mt-2"> Bienvenue au djassa </h1>

<!-- Ajout de cards sur la page d'accueil-->
<div class="container">
    <div class="row">

        {% for article in list_articles%}
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card">
                <!--ajout du lien detail sur l'image-->
                <a href="{% url 'detail' article.id %}">
                    <img src="{{ article.image.url }}" class="card-img-top" alt="..." style="height: 250px;">
                </a>
                <div class="card-body" style="height: 220px;"> <!--mettre les articles à la même hauteur-->
                    <h5 class="card-title"> 
                        <!--ajout du lien detail sur le titre de l'article-->
                        <a href="{% url 'detail' article.id %}">{{ article.title }}</a> 
                    </h5>
                <p class="card-text"> {{ article.desc|truncatewords:8 }}</p>
                <p class="card-text"> Publier depuis {{ article.created_at|timesince }}</p>
                <!-- afficher le detail des articles en utilisant l'urls de detail-->
                <a href="{% url 'detail' article.id %}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<!-- fin du cards-->

{% endblock %}
